
body{
    background-color:#0c0908 ;
    font-family: "Calibre","Inter","San Francisco","SF Pro Text",-apple-system,system-ui,sans-serif;
}

.nav-link, .navbar-brand{
    color: #c7cee2;
}



.bi-list{
    color:white
}

.nav-link:hover{
    color: #3BBA9C;
}
#sidebar{
    position: fixed;
}

#landing {
    height: 500px;
}

.about, .skills{
    height:700px
}

@media only screen and (max-width: 767px) {
    .about{
        height: 1000px;
    }
    }
  

    
@media only screen and (max-width: 575px) {
    #skill{
        display: flex;
        justify-content: center;
    }
    }