
body{
    background-color:#2E3047 ;
    font-family: "Calibre","Inter","San Francisco","SF Pro Text",-apple-system,system-ui,sans-serif;
}

.nav-link, .navbar-brand{
    color: #c7cee2;
}



.bi-list{
    color:white
}

.nav-link:hover{
    color: #3BBA9C;
}
#sidebar{
    position: fixed;
}