.nav-link, .navbar-brand{
    color: #c7cee2;
    font-family: monospace;

}



body{
    background-color:#0c0908 ;
    font-family: 'Poppins'
}






.bi-list{
    color:white
}

.nav-link:hover, .card-text{
    color: #3BBA9C;
}
#sidebar{
    position: fixed;
}

#landing {
    height: 500px;
}

.about, .skills, .experiences{
    height:800px
}

@media only screen and (max-width: 767px) {
    .about{
        height: 1000px;
    }
    }
  

    
@media only screen and (max-width: 575px) {
    #skill{
        display: flex;
        justify-content: center;
    }
    }

    ul.timeline-list {
        position: relative;
        margin: 0;
        padding: 0
    }
    ul.timeline-list:before {
        position: absolute;
        content: "";
        width: 2px;
        height: 100%;
        background-color: #3BBA9C;
        left: 50%;
        top: 0;
        -webkit-transform: translateX(-50%);
                transform: translateX(-50%);
    }
    ul.timeline-list li {
        position: relative;
        clear: both;
        display: table;
    }
    .timeline_content {
        border: 2px solid #3BBA9C;
        /* background-color:#fff */
    }
    ul.timeline-list li .timeline_content {
        width: 45%;
        color: #333;
        padding: 30px;
        float: left;
        text-align: right;
    }
    ul.timeline-list li:nth-child(2n) .timeline_content {
        float: right;
        text-align: left;
    }
    .timeline_content h4 {
        font-size: 22px;
        font-weight: 600;
        margin: 10px 0;
    }
    ul.timeline-list li:before {
        position: absolute;
        content: "";
        width: 25px;
        height: 25px;
        background-color: #3BBA9C;
        left: 50%;
        top: 50%;
        -webkit-transform: translate(-50%, -50%);
                transform: translate(-50%, -50%);
        border-radius: 50%;
    }
    .timeline_content span {
        font-size: 18px;
        font-weight: 500;
        /* font-family: poppins; */
        color: #3BBA9C;
    }

    .timeline_content h4{
        color: white;
    }
    .timeline_content p{
        color: #8d919e;
    }

    @media only screen and (max-width: 767px) {
       

        ul.timeline-list li:nth-child(2n) .timeline_content {
            float: left;
            text-align: left;
        }

        ul.timeline-list li .timeline_content {
            width: 100%;
            color: #333;
            padding: 30px;
            float: left;
            text-align: right;
        }

        ul.timeline-list li:before, ul.timeline-list:before {
           display: none;
        }
        }


        @media only screen and (max-width: 991px) {

            .skills{
                height: 1000px;
                
            }
        }

        @media only screen and (max-width: 575PX) {

            .skills{
                margin-bottom:500px;
            }

            .about{
                margin-bottom:100px
            }
        }
      

        .card{
            border: 2px solid #3BBA9C;
            background-color: transparent;
        }
        

        .card-title{
            color: white;
        }

        #certifications{
            margin-top: 80px;
        }
